.row
  .span-all
    .nav-bar
      .nav-bar-blue
        .calendar.glyphicon.glyphicon-calendar
        .editable-input
          .todo-title{'ng-hide' => 'todoList.showEdit'}
            {{todoList.title}}
          %input.fixed-input{ 'name' => 'todolist-change', 'ng-show' => 'todoList.showEdit', 'type' => 'text', 'ng-model' => 'todoList.newTitle', 'focus-on' => '!!todoList.showEdit', 'ng-esc' => 'todoList.showEdit = false', 'ng-enter' => 'todoList.showEdit = false; changeTodoTitle(todoList)', 'ng-maxlength' => 200}
        .editable-del
          %a.glyphicon.glyphicon-edit.btn-list{'ng-hide' => 'todoList.showEdit', 'href' => "", 'ng-click' => 'todoList.showEdit = true; todoList.newTitle = todoList.title'}
          %a.glyphicon.glyphicon-ok.btn-list{'ng-show' => 'todoList.showEdit', 'href' => "", 'ng-click' => 'todoList.showEdit = false; changeTodoTitle(todoList)'}
          |                
          %a.glyphicon.glyphicon-trash.btn-list{'href' => "", 'ng-click' => 'delList(todoList)'}
    .tasks-block{'ng-controller' => 'TaskCtrl'}        
      .nav-bar
        .nav-bar-gray.editnav
          %form.nav-bar-form{'ng-submit' => 'addTask(todoList, task)'}
            %input.form-control.fixed-input.input_task{'type' => 'text', 'ng-model' => 'todoList.newTask', 'placeholder' => "Start typing here to create task...", 'required' => 'true', 'ng-maxlength' => 200}
            %button.btn-add{'type' => 'submit'}
              Add Task
      %ul.sortarable{'ui-sortable' => 'sortableOptions', 'ng-model' => 'todoList.tasks'}
        %li{'ng-repeat' => 'task in todoList.tasks', 'ng-include' => '"_task.html"'}