.outer{'ng-controller' => 'TodoListCtrl'}
  .headertext
    %h2
      %b SIMPLE TODO LISTS
    %h4 FROM RUBY GARAGE
  .container-nav{'ng-repeat' => 'todoList in todoLists | orderBy : "-id"', 'ng-include' => '"_todo_list.html"'}
  %a.addlist{'href' => '', 'ng-click' => 'addList()'}