.outer
  %div
    %form.navbar-form{'ng-submit' => 'addList()'}
      /= t.number_field :priority, class: "input_prior"
      %input.input_task{'type' => 'text', 'ng-model' => 'newList', 'placeholder' => "Start typing here to create todolist..."}
      /= t.text_field :task_name, class: "input_task", placeholder:"Start typing here to create task..."
      %button.butn.btn-add{'type' => 'submit'}
        Add List
    %h2.headertext TODO Lists:
    .container{'ng-repeat' => 'todoList in todoLists'}
      .row
        .span7
          %table#sortable.table.table-bordered
            %thead
              .navbar
                .navbar-blue
                  %h3.bartext
                    {{todoList.title}}
                    /= link_to "", edit_todolist_path(@todolist), class: "icon-pencil icon-white editproject"
                    /= link_to "", @todolist, :confirm => 'Are you sure?',:method => :delete, class: "icon-trash icon-white"
              .navbar
                .navbar-gray.editnav
                .input-append
                  %tbody
              /- @todolist.tasks.each do |task|
              /- if task.persisted?
              %tr{'ng-repeat' => 'task in todoList.tasks'}
                /%td.fixed2.centered
                /  - if task.completed == true
                /  - complete = "icon-check"
                /- else
                /  - complete = "icon-edit"
                /= link_to "", complete_todolist_task_path(@todolist.id, task.id), class: "#{complete}"
                %td.fixed1
                  /- if task.completed == false
                  /- if task.deadline == nil
                  %strong
                    {{task}}
                  / - else
                  /%strong= task.task_name
                  / %small
                  /(deadline: #{task.deadline})
                  /- else
                  / %strike
                  / %strong= task.task_name
                /%td.fixed4.centered
                /  = task.priority
                /%td.centered.fixed3
                /  = link_to "", edit_todolist_task_path(@todolist, task), class: "icon-pencil"
                /  | #{link_to "", set_deadline_todolist_task_path(@todolist.id, task.id), class: "icon-exclamation-sign"} /| #{link_to "", todolist_task_path(@todolist.id, task.id), :method => :delete, class: "icon-trash"}
          /%center= link_to '', new_todolist_path, class: 'addlist'